@charset "UTF-8";
@range:75rem;
*{
  margin:0px;
  padding:0px;
  line-height: 60/@range;
}
html {
  width: 100%;
  height: 100%;
  background: #fff;
 }
body{
  width:100%;
  height:100%;
 
  background: #fff;
  
}
p{
  display: inline-block;
  font-size: 40/@range;
}
.h1{
  font-size: 50/@range;
  text-align: center;
  color:#000000;
  font-weight: 900;
  margin-top:20/@range;
}
.apply{
  margin-top:30/@range;
   font-size: 16/@range;
}
.p3{
  font-size: 16/@range;
}
.p4{
  font-size: 16/@range;
}
.p6{
    font-size: 16/@range;
}
.money{
  width:120/@range;
  height:35/@range;
  border-bottom: 1/@range solid black;
  text-align: center;
  line-height: 20/@range;
}
.month{
  width:50/@range;
  height:35/@range;
  border-bottom: 1/@range solid black;
  text-align: center;
   line-height: 20/@range;
}
.name{
  width:150/@range;
  height:35/@range;
  border-bottom: 1/@range solid black;
  display: inline-block;
  text-align: center;
   line-height: 20/@range;
}
.p10{
  margin-top:70/@range;
  padding-left: 300/@range;
  font-size: 16/@range;
}
.p11{
  margin-top:40/@range;
  padding-left: 300/@range;
  font-size: 16/@range;
}
.p12{
  font-size: 16/@range;
}
.telephone{
  width:280/@range;
  height:40/@range;
   line-height: 20/@range;
}
.seal{
   line-height: 20/@range;
}
.p12{
  margin-top:40/@range;
  padding-left: 300/@range;
  span{
    width:100px;
    display: inline-block;
    height:30px;
     line-height: 20/@range;
     font-size: 30/@range;
     text-align: center;
  }
}
